<%= stylesheet_link_tag 'login', :media => "all" %>

<div class="login">
  <img src="/assets/connect.jpg">
  <div class="login__main">
    <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login__field">
        <h2>メール </h2>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="login__field">
        <h2>パスワード </h2>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="login__field">
          <p><%= f.check_box :remember_me %>私を覚える</p>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn shadow" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>

