<%= stylesheet_link_tag 'login', :media => "all" %>

<div class="login">
  
  <div class="login__main">
    <h2>Log In</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <div class="signup_email form-floating mb-3">
        <%= f.email_field :email, class:"form-control", id:"floatingInput", placeholder:"name@example.com" %>
        <label for="floatingInput">メールアドレス</label>
      </div>

      <div class="signup_password form-floating">
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"floatingPassword", placeholder:"Password" %>
        <label for="floatingPassword">パスワード</label>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="login__field">
          <p><%= f.check_box :remember_me %>私を覚える</p>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn shadow" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>

