<header class="header">
    <div class="header__inner">
        <div class="logo">
            <span class="logo__w">W</span>
            <span class="logo__community">community</span>
        </div>
        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li">
                    <%= link_to 'Home', main_posts_path %>
                </li>
                <li class="header__li">
                    <%= link_to 'OutGoing', posts_path %>
                </li>
                <li class="header__li">
                    <%= link_to 'MyPage', user_path(current_user.id)%> 
                </li>
                <li class="header__li">
                    <%= link_to (rooms_path) do %>
                        DM<i class="far fa-comment-dots"></i><span class="noti_count"><%= @notifications.count %></span>
                    <% end %>
                </li>
                <li class="header__li">
                    <%= link_to 'notifications', notifications_path %>
                </li>
                <li class="header__li">
                    <%= link_to "LogOut", destroy_user_session_path, method: :delete %>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="user_show_top">
    <div class="user_show_bgi"></div>
    <%= image_tag @user.image_url, class:"user_show_img" if @user.image? %>
    <div class="user_show_first">
        <p class="user_show_name"><%= @user.name %></p>
        <p class="user_show_profile"><%= @user.profile %></p>
    </div>
</div>

<p>メールアドレス : <%= @user.email %></p>
<p>お住まいの地域 : <%= @user.address %></p>
<p>エンジニア : <%= @user.job %></p>
<p>種類 : <%= @user.genre %></p>

<div class="dm">
  <% if @user.id == current_user.id %>
      <%= @msg %>
  <% else %>
      <% if @isRoom == true %>
          <p><%= link_to 'DMへ', room_path(@roomId) %></p>
      <% else %>
          <%= form_for @room do |f| %>
              <%= fields_for @entry do |e|%>
                  <% e.hidden_field :user_id, value: @user.id %>
              <% end %>
          <%= f.submit "DMを開始する"%>
          <% end %>
      <% end %>
  <% end %>
</div>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.posts.each do |p| %>
  <%= p.user.name %>
  <%= p.theme %>
<% end %>

<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_posts.each do |p| %>
  <%= p.user.name %>
  <%= p.theme %>
<% end %>

