<header class="header">
    <div class="header__inner">
        <div class="logo">
            <span class="logo__w">W</span>
            <span class="logo__community">community</span>
        </div>
        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li">
                    <%= link_to 'Home', main_posts_path %>
                </li>
                <li class="header__li">
                    <%= link_to 'OutGoing', posts_path %>
                </li>
                <li class="header__li">
                    <%= link_to 'MyPage', user_path(current_user.id)%> 
                </li>
                <li class="header__li">
                    <%= link_to (rooms_path) do %>
                        DM<i class="far fa-comment-dots"></i><span class="noti_count"><%= @notifications.count %></span>
                    <% end %>
                </li>
                <li class="header__li">
                    <%= link_to "LogOut", destroy_user_session_path, method: :delete %>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="list">
    <h2>投稿一覧</h2>
    <% @posts.each do |p| %>
        <div class="list__main">
            <div class="list__user">
                <a href="/users/<%= p.user.id %>"><%= p.user.name %></a>
                <%= link_to "削除する", post_path(p.id), method: :delete %>
            </div>
            テーマ：<%= p.theme %>
            <%= link_to "詳細へ", post_path(p.id) %>
        </div>
        
        <% if user_signed_in? %>
            <% if current_user.already_liked?(p) %>
                <%= link_to post_like_path(id: p.id, post_id: p.id), method: :delete do %>
                    <i class="fas fa-heart"></i><%= p.likes.count %>
                <% end %>
            <% else %>
                <%= link_to post_likes_path(id: p.id, post_id: p.id), method: :post do %>
                    <i class="fas fa-heart"></i><%= p.likes.count %>
                <% end %>
            <% end %>
            <% else %>
                <i class="fas fa-heart"></i><%= p.likes.count %>
        <% end %>
    <% end %>
</div>

<%= link_to "メインページへ", main_posts_path %>
                