<h2>投稿一覧</h2>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to '新規投稿へ', new_post_path %>
<%= link_to 'ユーザー一覧へ', search_posts_path %>

<div class="post_index">
    <% @posts.each do |p| %>
        <div class="post">
            テーマ：<%= p.theme %>
            <%= link_to "詳細へ", post_path(p.id) %>
        </div>
        
        <% if user_signed_in? %>
            <% if current_user.already_liked?(p) %>
                <%= link_to post_like_path(id: p.id, post_id: p.id), method: :delete do %>
                    <i class="fas fa-heart"></i><%= p.likes.count %>
                <% end %>
            <% else %>
                <%= link_to post_likes_path(id: p.id, post_id: p.id), method: :post do %>
                    <i class="fas fa-heart"></i><%= p.likes.count %>
                <% end %>
            <% end %>
            <% else %>
                <i class="fas fa-heart"></i><%= p.likes.count %>
        <% end %>
    <% end %>
</div>
                