<h2>新規投稿</h2>
<%= form_with model:@post do |f| %>
    <div class="field">
        <%= f.label :theme %>
        <%= f.text_field :theme %>
    </div>
    <%= f.submit %>
<% end %>

<%= link_to '投稿一覧へ', posts_path %>