<header class="header">
    <div class="header__inner">
        <div class="logo">
            <span class="logo__w">W</span>
            <span class="logo__community">community</span>
        </div>
        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li">
                    <%= link_to 'Home', main_posts_path %>
                </li>
                <li class="header__li">
                    <%= link_to 'OutGoing', posts_path %>
                </li>
                <li class="header__li">
                    <%= link_to 'MyPage', user_path(current_user.id)%> 
                </li>
                <li class="header__li">
                    <%= link_to (rooms_path) do %>
                        DM<i class="far fa-comment-dots"></i><span class="noti_count"><%= @notifications.count %></span>
                    <% end %>
                </li>
                <li class="header__li">
                    <%= link_to 'notifications', notifications_path %>
                </li>
                <li class="header__li">
                    <%= link_to "LogOut", destroy_user_session_path, method: :delete %>
                </li>
            </ul>
        </nav>
    </div>
</header>

<% if user_signed_in? %>
    <% if current_user.already_liked?(@post) %>
        <%= link_to post_like_path(@post), method: :delete do %>
            <i class="fas fa-heart"></i><%= @post.likes.count %>
        <% end %>
    <% else %>
        <%= link_to post_likes_path(@post), method: :post do %>
            <i class="fas fa-heart"></i><%= @post.likes.count %>
        <% end %>
    <% end %>
<% else %>
<i class="fas fa-heart"></i><%= @post.likes.count %>
<% end %>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<h2>いいねしたユーザー</h2>
<% @post.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>
