<%= stylesheet_link_tag 'signup', :media => "all" %>

<div class="sign">
  <img src="/assets/connect.jpg">
  <div class="sign__main">
    <h2>新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>メール<br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :name %>ニックネーム<br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :image %>プロフィール画像<br />
        <%= f.file_field :image %>
      </div>

      <div class="field">
        <%= f.label :address %>お住まいの地域<br />
        <%= f.text_field :address, autocomplete: "address" %>
      </div>

      <div class="field">
        <%= f.label :job %>エンジニアですか？<br />
        <%= f.select :job, [["はい", "エンジニア"], ["いいえ", "エンジニアではない"]], include_blank: "選択して下さい" %>
      </div>

      <div class="field">
        <%= f.label :genre %>どんな種類のエンジニアですか？<br />
        <%= f.select :genre, [["webアプリケーション開発", "webアプリケーション開発"], ["モバイルアプリ開発エンジニア", "モバイルアプリ開発エンジニア"], ["ゲーム開発エンジニア", "ゲーム開発エンジニア"], ["インフラエンジニア", "インフラエンジニア"], ["エンジニアではないです", "エンジニアではないです"]], include_blank: "選択して下さい" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn shadow" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
