<%= stylesheet_link_tag 'signup', :media => "all" %>

<<<<<<< HEAD
<div class="sign">
  <img src="/assets/connect.jpg">
  <div class="sign__main">
    <h2>新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>メール<br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :name %>ニックネーム<br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :image %>プロフィール画像<br />
        <%= f.file_field :image %>
      </div>

      <div class="field">
        <%= f.label :address %>お住まいの地域<br />
        <%= f.text_field :address, autocomplete: "address" %>
      </div>

      <div class="field">
        <%= f.label :job %>エンジニアですか？<br />
        <%= f.select :job, [["はい", "エンジニア"], ["いいえ", "エンジニアではない"]], include_blank: "選択して下さい" %>
      </div>

      <div class="field">
        <%= f.label :genre %>どんな種類のエンジニアですか？<br />
        <%= f.select :genre, [["webアプリケーション開発", "webアプリケーション開発"], ["モバイルアプリ開発エンジニア", "モバイルアプリ開発エンジニア"], ["ゲーム開発エンジニア", "ゲーム開発エンジニア"], ["インフラエンジニア", "インフラエンジニア"], ["エンジニアではないです", "エンジニアではないです"]], include_blank: "選択して下さい" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn shadow" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
=======
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %>メール<br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :name %>ニックネーム<br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :image %>プロフィール画像<br />
    <%= f.file_field :image, id:"pac-input" %>
  </div>
    <div id="image"></div>

  <div class="field">
    <%= f.label :address %>お住まいの地域<br />
    <%= f.select :address, [
      ["北海道", "北海道"],
      ["青森県", "青森県"],
      ["岩手県", "岩手県"],
      ["宮城県", "宮城県"],
      ["秋田県", "秋田県"],
      ["山形県", "山形県"],
      ["福島県", "福島県"],
      ["茨城県", "茨城県"],
      ["栃木県", "栃木県"],
      ["群馬県", "群馬県"],
      ["埼玉県", "埼玉県"],
      ["千葉県", "千葉県"],
      ["東京都", "東京都"],
      ["神奈川県", "神奈川県"],
      ["新潟県", "新潟県"],
      ["富山県", "富山県"],
      ["石川県", "石川県"],
      ["福井県", "福井県"],
      ["山梨県", "山梨県"],
      ["長野県", "長野県"],
      ["岐阜県", "岐阜県"],
      ["静岡県", "静岡県"],
      ["愛知県", "愛知県"],
      ["三重県", "三重県"],
      ["滋賀県", "滋賀県"],
      ["京都府", "京都府"],
      ["大阪府", "大阪府"],
      ["兵庫県", "兵庫県"],
      ["奈良県", "奈良県"],
      ["和歌山県", "和歌山県"],
      ["鳥取県", "鳥取県"],
      ["島根県", "島根県"],
      ["岡山県", "岡山県"],
      ["広島県", "広島県"],
      ["山口県", "山口県"],
      ["徳島県", "徳島県"],
      ["香川県", "香川県"],
      ["愛媛県", "愛媛県"],
      ["高知県", "高知県"],
      ["福岡県", "福岡県"],
      ["佐賀県", "佐賀県"],
      ["長崎県", "長崎県"],
      ["熊本県", "熊本県"],
      ["大分県", "大分県"],
      ["宮崎県", "宮崎県"],
      ["鹿児島県", "鹿児島県"],
      ["沖縄県", "沖縄県"]
    ], include_blank: "選択してください" %>
  </div>

  <div class="field">
    <%= f.label :job %>エンジニアですか？<br />
    <%= f.select :job, [["はい", "現役エンジニア"], ["いいえ", "エンジニアではない"]], include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :genre %>どんな種類のエンジニアですか？<br />
    <%= f.select :genre, [["webアプリケーション開発", "webアプリケーション開発"], ["モバイルアプリ開発エンジニア", "モバイルアプリ開発エンジニア"], ["ゲーム開発エンジニア", "ゲーム開発エンジニア"], ["インフラエンジニア", "インフラエンジニア"], ["エンジニアではないです", "エンジニアではないです"]], include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

<style>
    #image{
        background-color: rgba(241, 230, 220, 0.661);
        height: 130px;
        width: 130px;
        border-radius: 50%; 
    }
    img{
        height: 130px;
        width: 130px;
        border-radius: 50%;
    }
</style>

<script>
    let image = document.getElementById("pac-input");
    image.addEventListener("change", function(evt){
        let file = evt.target.files;
        let reader = new FileReader();
        reader.readAsDataURL(file[0]);
        reader.onload = function(){
            let dataUrl = reader.result;
            document.getElementById("image").innerHTML = "<img src='" + dataUrl + "'>";
        }
    },false);
</script>
>>>>>>> d4dc75f863dc98cda305f499eab920f769cd7c02
